body{
    margin: 0; padding: 0;
    height: auto;
    /* min-height: 100vh; */
    /* width: 100%; */
    background-color: bisque;

    display:flex;
     align-items: center;
    flex-direction: column;
}

.head{
    height: 20vh;
    width: 100%;
    background-color: red;
    
    display: flex;
    justify-content: center; align-items: center;
}
.content{
    height: auto; 
    width: 100%;
    background-color: yellow;
    
    display: flex;
    justify-content: center; align-items: center; flex-direction: column;
}

form{
    background-color: aqua;
    /* height: 70vh;  */
    width: 100%;

    display: flex;
    justify-content: center; align-items: center;
}
.cityName{
    padding: 0.5rem; 
    width: 50%; border-radius: 0.4rem; 
    border: 1px solid black;
}
.cityName:hover{
    border:2.2px solid green;
}
#btnC{
    padding: 0.5rem 1.4rem; 
    border-radius: 0.4rem; 
    border: none; 
    background-color: rgb(111, 222, 111);
    margin-left: 1rem;
}
.api{
    width: 30%;
    background-color: lightblue;

    display: flex;
    justify-content: center;
    align-items: center; flex-direction: column;
    margin: 2rem;
    padding: 3rem;
}